.header-box{
    text-align: center;
}
.photo{
    width: 5em;
}
.infopersonali ul{
    list-style-type: none;
}
.formazione ul{
    list-style-type: none;
}
.competenze ul{
    list-style-type: none;
}

.list-contacts ul{
    list-style-type: none;
}

.header-box2{
    text-align: center;
}
.informazioni2 ul{
    list-style-type: none;
}
.img2{
    width: 5em;
}